.title{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.headerDiv{
    --background: #FCF0E7 ;
}

.infoContainer{
    text-align: center;
}

.infoDiv{
    border: 1px solid rgba(231, 231, 231, 0.678);
    background-color: #fff;
    margin: 3rem 0;
    height: 3.5rem;
    text-align: center;
    border-radius: 1.5rem;
    font-family: 'Noto Sans TC', sans-serif;
}

.infoButtonDiv{
    text-align: center;
}

.infoButton{
    margin: 3rem 0;

}

.buttonGroup1{
    width: 80%;
    height: 3em;
    font-size: 1em;
    --background: #112A46;
    --border-radius: 2em;
    
}

.logoutButton{
    width: 40%;
    height: 3em;
    font-size: 1em;
    --background: #FF5050;
    --border-radius: 2em;
}