.header{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Noto Sans TC', sans-serif;
}

.buttonGroup1{
    width: 80%;
    height: 3em;
    font-size: 1em;
    --background: #112A46;
    --border-radius: 2em;
}

.buttonGroup2{
    width: 80%;
    height: 3em;
    font-size: 1em;
    --background:rgb(37,98,127);
    --border-radius: 2em;
}

.infoButtonDiv{
    text-align: center;
}

.infoButton{
    margin: 1rem 0;
}

.textContent{
    font-family: 'Noto Sans TC', sans-serif;
}