
.title{
    font-size: 2.1rem;
    text-align: center;
    margin: 1rem 5rem 5rem 5rem;

}

.infoButtonDiv{
    text-align: center;
}

.infoButton{
    margin: 1rem 0;
}

.buttonGroup1{
    width: 80%;
    height: 3em;
    font-size: 1em;
    --background: #112A46;
    --border-radius: 2em;
}

.container{
    text-align: center;
}