.containerDiv{
    text-align: center;

}

.submitButton{
    margin-top:2em;
    --background: #112A46;
    width: 70%;
    --border-radius: 2em;
    font-family: 'Noto Sans TC', sans-serif;
}

.loadingDiv{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    background-color: #c2c2c23d
}

.loadingCircles{
    width:50px;
    height:50px;
}
