.methodSelection{
    --background: #fff;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
}

.inputDiv{
    /* border: 1px solid #112A46; */
    margin-top: 2.5rem;
    border-radius: 1.5rem;
    height: fit-content;
    display:block;
    --background: #fff;
}


.inputTitle{
    font-size: 1.2em;
    margin-top: 1rem;
    border-bottom: 1px solid #112A46;
    width: 100%;
    text-align: center;
}

.inputContent{
    margin: 2rem 0 4rem 0;

}

.searchButtonDiv{
    text-align: center;
    margin-top:2.5rem;
}

.searchIonButton{
    width: 70%;
    --border-radius: 2em;
    --background: #112A46;
}

.databaseButtonDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.databaseIonButton{
    width: 15rem;
    height: 70%;
    --border-radius: 2em;
    --background: #112A46;
    font-size: 1em;  

}

.resultContainer{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #fff;
    border-radius: 1rem;
    padding: 8px;
    margin-bottom: 8px;
    
}

.resultOrder{
    display: flex;
    flex-direction: column-reverse;
}

.saveIonButton{
    width: 40%;
    --border-radius: 2em;
    --background: #112A46;
}

.loadingDiv{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    background-color: #c2c2c23d
}

.loadingCircles{
    width:50px;
    height:50px;
}